pipeline/PL1.json
{
	"name": "PL1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[auditlog].[customers]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@Dataread = activity('Copy data1').output.dataread",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('Copy data1').output.errors[0].code\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('Copy data1').output.errors[0].message\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('Copy data1').output.executionDetails[0].status\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"tablename": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer4",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-05T17:19:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}